@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');
h1, h2, h3, h5 {
    font-family: "Oswald";
    font-weight: 500;
    text-transform: uppercase;
     font-weight: 500; 
    color: #2c2c2c;
}
.collection-banner-overflow {
    overflow: hidden;
}
.collection-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-size: cover !important;
    background-position: center !important;
}
.collection-banner .banner-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px 15px;
}
.collection-banner h1 {
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.collection-banner h1, .collection-banner p {
    color: #fff;
}
.collection-banner p {
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100%;
    display: none;
}
.collection-bar {
    z-index: 3 !important;
    background: #fff;
    border-top: 1px solid #f7f8f9;
    border-bottom: 1px solid #f7f8f9;
    display: none;
}
.breadcrumbs {
    display: none;
}
.sort-by-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.sort-by-block .sort-by-title {
    font-family: "Gotham Book";
    font-size: 11px;
    line-height: 36px;
    letter-spacing: 0.6px;
    border-right: 1px solid #f7f8f9;
    padding-right: 10px;
    white-space: nowrap;
}
.sort-by-block .sort-by {
    line-height: 38px;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 10px 0 0;
    border: none;
    border-radius: none;
    background: transparent url(../Pictures/select-arrows-black.png) no-repeat 115px 14px;
    background-size: 4%;
    cursor: pointer;
    font-family: "Gotham-Bold";
    font-size: 11px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    color: #222;
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.sort-by-block .select2-container {
    width: 100% !important;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container--default .select2-selection--single {
    border: none;
    border-radius: none;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection__rendered {
    display: inline-block;
    margin: 0 0 0 10px;
    padding-left: 0 !important;
    border: none;
    border-radius: none;
    cursor: pointer;
    font-family: "Gotham" !important;
    font-weight: bold;
    font-size: 11px !important;
    line-height: 2.5;
    letter-spacing: 0.6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    color: #222;
    border: none;
    text-transform: uppercase;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: block;
    width: 6px;
    height: 15px;
    background: transparent url(../Pictures/select-arrows-black.png) no-repeat 0 0;
    background-size: cover;
    border: none;
    top: 9px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

@media only screen and (min-width: 480px){

.collection-banner p {
    display: block;
    max-width: 50%;
}}
@media only screen and (min-width: 768px){

.collection-banner {
    height: 260px;
}
.collection-banner .banner-content {
    padding: 50px;
}
.collection-banner h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.collection-banner p {
    font-size: 22px;
    max-width: 495px;
}
.collection-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.sort-by-block .select2-container {
    width: 192px !important;
}}

@media only screen and (min-width: 992px){

.breadcrumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 0.6rem 1rem 0.5rem;
}
.breadcrumbs a, .breadcrumbs .breadcrumb-carrot {
     color: #d1d1d1; 
}
.breadcrumbs .breadcrumb-carrot {
    padding: 0 7px;
}}


